/*
Product: Helium Bootstrap UI Kit
Author: UIdeck
Website: https://uideck.com
More Info: https://uideck.com/products/helium-ui-kit
*/
@import url("https://fonts.googleapis.com/css?family=Rubik:400,700|Montserrat:700");
/* Typography */

body {
  color: #444;
  background: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px; 
  scroll-behavior: smooth; }

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  margin-top: 0; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

a {
  color: #EB586F;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  letter-spacing: 0px;
  outline: 0 !important; }
  a:hover, a:active, a:focus {
    color: #D14E63;
    text-decoration: none; }

img {
  width: 100%; }

.page-header {
  font-size: 30px;
  font-weight: 700;
  border: none;
  padding-top: 50px;
  text-transform: uppercase;
  margin: 0 0 20px 0; }
p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #444;
  letter-spacing: 0px;
  margin-bottom: 10px; }

ul, li {
  list-style: none;
  padding: 0; }

ul, ol {
  list-style: none;
  padding: 0; }

.orderlist li {
  list-style: block;
  margin-left: 15px; }

.unorderedlist li {
  list-style: inside; }

.list-featured {
  list-style: none;
  padding: 0; }

.list-featured li {
  position: relative;
  font-size: 14px;
  padding-left: 14px;
  margin-bottom: 7px; }

.list-featured li:before {
  position: absolute;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 0;
  top: 7px;
  background-color: #EB586F; }

.line-height-36 {
  line-height: 36px; }

ol li {
  margin-bottom: 7px; }

li {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px; }

blockquote {
  border-left: 0px solid #ddd; }

blockquote p {
  font-size: 16px;
  font-weight: 400; }

.blockquote-reverse {
  border-right: none; }

strong {
  font-weight: 700; }

.lead {
  font-size: 16px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-default {
  color: #EB586F; }

.bg-default {
  color: #444;
  background: #EB586F;
  padding: 3px 4px; }

.bg-primary {
  color: #fff;
  background: #EB586F;
  padding: 3px 4px; }

.bg-success {
  color: #fff;
  background: #87c056;
  padding: 3px 4px; }

.bg-info {
  color: #fff;
  background: #4da5e2;
  padding: 3px 4px; }

.bg-warning {
  color: #fff;
  background: #ffcc66;
  padding: 3px 4px; }

.bg-danger {
  color: #fff;
  background: #ec7160;
  padding: 3px 4px; }

/* / End Typography */
.demo_img {
  background: #f7f7f7;
  margin-bottom: 70px;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 20px;
  text-align: center; }
  .demo_img img {
    margin-bottom: 25px;
    max-width: 100%;
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
  .demo_img img:hover {
    opacity: 0.7; }
  .demo_img h3.demo-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px; }

/* Headers */
.wrapper {
  background: #fff;
  padding-bottom: 60px; }

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

#content {
  padding-bottom: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.space-right {
  margin-right: 25px; }

.row-spacer {
  margin-bottom: 80px; }

.page-header-title {
  padding-top: 60px;
  padding-bottom: 60px; }
  .page-header-title .heading-title {
    color: #444;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400; }

.navbar-light .navbar-nav .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff; }

#headers .navbar {
  margin-bottom: 0; }
#headers .header-caption {
  text-align: center;
  height: auto;
  text-shadow: none !important;
  top: 0;
  bottom: 0;
  padding: 0; }
#headers .header-content {
  padding: 90px 0; }

.header-content header-title span {
  margin-bottom: 15px; }

.header-content .header-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 30px; }

.header-content .btn {
  margin: 15px; }

/* Header Style 1*/
#header-style-1 {
  position: relative;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  background-size: cover;
  background-position: contain; }
#header-style-1::after {
  position: absolute;
  content: "";
  z-index: -1;
  background-image: url("");  
  inset: 0;
  background-position: center;
}
  #header-style-1 .header-title {
    color: #fff; }
  #header-style-1 .header-text {
    color: #fff;
    line-height: 1.5; }
  #header-style-1 .content {
    min-height: 555px;
    height: auto; }
  #header-style-1 p.caption {
    padding: 6px;
    color: #444; }

/* End Headers */


.section {
  padding: 30px 0; }

/* Footer */
.footer-info {
  padding: 25px 0; }

footer .social a {
  font-size: 14px;
  margin-left: 10px; }

footer {
  background: #282828;
  color: #7C7C7C; }

footer .small-title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #fff; }

footer ul {
  padding: 0;
  margin: 0;
  list-style: none; }

footer ul li {
  line-height: 25px; }

footer ul li a {
  color: #999;
  font-size: 14px; }

footer .menu {
  color: #fff; }

footer .plain-flicker-gallery {
  margin-right: -5px;
  margin-left: -5px; }

footer .plain-flicker-gallery a {
  display: inline-block;
  width: 32%;
  font-size: 0px;
  padding: 5px; }

footer .plain-flicker-gallery a img {
  width: 100%; }

footer .contact-us .form-control {
  color: #999;
  font-size: 14px;
  margin-bottom: 15px;
  background: #1D1D1D;
  border-radius: 0px; }

footer #copyright {
  background: #1D1D1D; }

footer #copyright .row {
  padding: 10px 0; }

footer #copyright .copyright-text,
footer #copyright .nav-inline {
  line-height: 38px;
  margin-bottom: 0; }

.social-footer a i {
  font-size: 14px;
  height: 35px;
  text-align: center;
  display: inline-block;
  border: 1px solid #EB586F;
  line-height: 35px;
  margin: 4px;
  width: 35px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.social-footer .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
  border-color: #3b5998; }
.social-footer .fa-twitter:hover {
  background: #55acee;
  color: #fff;
  border-color: #55acee; }
.social-footer .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
  border-color: #007bb6; }
.social-footer .fa-google-plus:hover {
  background: #dd4b39;
  color: #fff;
  border-color: #dd4b39; }

.default-footer {
  background: #232935;
  padding-bottom: 100px;
  padding-top: 100px; }

.copy-right {
  font-size: 12px;
  color: #bac0cb; }

.dis-blk {
  display: block;
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.footer-logo {
  width: auto; }

.light-footer {
  background: #f7f7f7; }

.light-footer p {
  color: #444; }

.dark-footer {
  background: #222; }

.dark-footer p {
  color: #ccc; }

/* Footer Widgets */
.light-footer .widget-area {
  background: #fff; }

footer .widget-title {
  text-align: left;
  margin-bottom: 30px; }


/* Buttons */
.space-bottom {
  margin-bottom: 15px; }

.btn {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border-radius: 0;
  padding: 9px 10px; }

.btn span {
  margin-left: 10px;
  margin-right: 10px; }

.btn:hover {
  background: transparent;
  cursor: pointer; }

.btn-xl {
  font-size: 20px;
  padding: 9px 10px; }

.btn-lg {
  font-size: 15px;
  padding: 10px 32px; }

.btn-sm {
  font-size: 12px;
  padding: 7px 6px; }

.btn-xs {
  font-size: 10px;
  padding: 5px 8px; }

.btn-rounded {
  border-radius: 4px !important; }

.btn-pill {
  border-radius: 50px !important; }

.btn-link {
  color: #EB586F; }

.btn-link:hover {
  color: #D14E63;
  text-decoration: none; }

.btn-link:focus {
  color: #D14E63;
  text-decoration: none; }

/* Default Button */
.btn-common, .btn-common:active, .btn-common:focus {
  color: #1e78ff;
  border: 2px solid #1e78ff;
  background-color: transparent;
 }

.btn-common:hover {
  color: #fff;
  background: #0b5ed7;
  border: 2px solid #0b5ed7; }

.btn-border {
  color: #EB586F;
  border: 2px solid #EB586F;
  background: transparent; }

.btn-border:hover {
  color: #fff;
  background: #EB586F;
  border: 2px solid #EB586F; }

.btn-radius {
  border-radius: 30px; }

.btn-filled {
  background: #EB586F;
  border: 2px solid #EB586F;
  color: #fff; }

.btn-filled:hover {
  background: #D14E63;
  border: 2px solid #D14E63;
  color: #fff;
   }

.btn-default-filled, .btn-default-filled:active, .btn-default-filled:focus {
  color: #fff;
  background: #EB586F;
  border: 2px solid #EB586F; }

.btn-default-filled:hover {
  color: #fff;
  background: #D14E63;
  border: 2px solid #D14E63; }

/* / End Default Button */


/*  Standard Buttons */
.button-title {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  opacity: 0.2;
  text-align: left; }

.button-title span {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase; }

.btn {
  font-size: 14px;
  padding: 11px 27px; }

.btn:focus {
  outline: none; }

.std-btn {
  margin-bottom: 20px;
  margin-right: 10px; }

.icon-cloud-download {
  margin-right: 13px;
  font-size: 16px;
  vertical-align: -2px; }

.btn-primary {
  margin-right: 20px;
  border: none; }

.learn-more .btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.33px; }

.read-more .btn {
  font-weight: 600;
  min-width: 125px; }


/* large Buttons */
.btn-lg {
  font-size: 17px;
  min-width: 171px;
  padding: 15px 11px; }

.learn-more .btn-lg {
  font-size: 15px; }

.learn-more2 .btn-lg {
  min-width: 171px; }



/* Navigations */
.bg-faded {
  background-color: transparent; }

.bg-default {
  background: #F8F8F8;
  border: none; }
  .bg-default .navbar-nav .nav-link {
    color: #444; }

.bg-black {
  background-color: #333; }
  .bg-black .navbar-nav .nav-link {
    color: #fff; }

.navbar-fixed-top {
  border-radius: 0; }

.navbar-brand {
  color: #ccc !important;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  padding: 20px 15px; }
  .navbar-brand img {
    max-width: 200px; }

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #0b5ed7 !important; }

.navbar-toggle .icon-bar {
  background:#0b5ed7;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.navbar-collapse {
  text-align: center; }

.navbar {
  padding: 0; }

.dropdown-menu {
  padding: 10px 0px;
  border: 0;
  border-radius: 0; }

.dropdown-item {
  padding: 10px 22px;
  font-size: 14px;
  width: 170px; }

.dropdown-item:focus, .dropdown-item:hover {
  background: #0b5ed7;
  color: #fff; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #0b5ed7; }

/* Default Navbar */
.navbar-nav .nav-link {
  color: #fff;
  margin-right: 18px;
  font-weight: 400;
  padding: 18px 0px; }

.navbar-light .navbar-nav .nav-link:hover {
color: #0b5ed7; }

.navbar-light .navbar-nav .nav-link:hover:focus {
  color: #0b5ed7; }

.navbar-light .navbar-nav > .active > a, .navbar-light .navbar-nav > .active > a:focus, .navbar-light .navbar-nav > .active > a:hover {
  color: #0b5ed7;
  background-color: transparent; }

.navbar-light .navbar-nav > .open > a, .navbar-light .navbar-nav > .open > a:focus, .navbar-light .navbar-nav > .open > a:hover {
  color: #0b5ed7;
  background-color: transparent; }

.navbar-light .navbar-toggle .icon-bar {
  background-color: #EB586F; }

.navbar-light .navbar-toggle {
  border-color: transparent; }

.navbar-light .navbar-toggle:hover, .navbar-light .navbar-toggle:focus {
  background-color: transparent; }

/* / End Default Navbar */


/* scroll bar personalizated */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #0041b9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0059ff;
}

